/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Core Styling */

html, 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Utilities */
.container {
    margin: auto;
    max-width: 800px;
    overflow: auto;
    padding: 0 20px;
}

/* Navigation Bar */

#navbar {
    background: #2d2d2d;
    color: white;
    overflow: auto;
}

#navbar .logo a {
    color: #ff0043;
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
.current {
    color: 	#ccd0d0;
    background: #1d1d1d;
}